#gameover-overlay {

    position: fixed;
    z-index: 200;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
    display: none;
    justify-content: center;
    padding: 5vh 5vh;
    align-items: center;
    overflow: hidden;
    
    
}

/* ======================
   SCROLL CONTAINER
====================== */



.scroll {
    background: url("../image/background.png") center top no-repeat;
    position: relative;
    font-family: "Concert One", sans-serif;
    width: 60vw;
    height: 80vh;
    color: white;
    padding: 5vh 5vh;
    border-radius: 5vh;
    overflow: hidden;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: openScroll 3.5s ease-out forwards;
}

.scroll-child{
    background: linear-gradient(180deg, #e3e6e909, rgba(0, 229, 255, 0.8));
    height: 60vh;
    width: 50vw;
    border-radius: 5vh;
    padding: 5% 5%;
}



/* ======================
   SCROLL EDGES
====================== */
.logo {
  background: url("../image/UI/logo.png") center center no-repeat;
  background-size: contain;
  margin-top: 5%;         
  z-index: 1000;
   animation: logo 3.5s ease-out forwards;
}


/* ======================
   CONTENT
====================== */
.content {
    text-align: center;
    opacity: 0;
    transform: scale(0.95);
    animation: reveal 1s ease forwards;
    animation-delay: 2.4s;
}

h1 {
    font-size: clamp(1.8rem, 3vw, 2.5rem);
    /* responsive */
    color: white;
    margin: 0;
}

.name {
    font-size: clamp(1.6rem, 2.8vw, 2.2rem);
    margin: 2vh 0;
}

.course {
    font-size: clamp(1.1rem, 1.8vw, 1.4rem);
}

.footer {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}

.signature {
    width: 25%;
    border-top: 2px solid white;
    /* keep px */
    padding-top: 1vh;
}

/* ======================
   STAMP
====================== */
.stamp {
    position: absolute;
    left: 10%;
    bottom: -15%;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background: url(../image/UI/stamp.png) center center no-repeat;
    background-size: contain;

    transform: translateX(-50%) scale(5);
    opacity: 0;
    animation: stampAppear 0.5s forwards;
    animation-delay: 3.1s;
}



.receive {
  background-image: url(../image/UI/button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 105%;
  right: 7%;
  text-align: center;
  border: none;
  background-color: transparent;
  border: none;
  height: 6vh;
  padding-top: 3vh;
  width: 7vw;
  transition: transform 0.3s ease;
  color: white;
}

.receive:hover {
  cursor: pointer;
  transform: scale(1.2)
}

#score, #levelCertificate {
    color: greenyellow;
    filter: drop-shadow(0 0 12px rgb(0, 255, 179));
}

/* ======================
   ANIMATIONS
====================== */
@keyframes logo {
    from {
        height: 0vh;
    }

    to {
        height: 10vh;
    }
}

@keyframes openScroll {
    from {
        height: 10vh;
    }

    to {
        height: 80vh;
    }
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes stampAppear {
    0% {
        transform: translateX(-50%) scale(10);
        opacity: 0;
    }

    70% {
        transform: translateX(-50%) scale(0.9);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}