body {
    background: url(../image/UI/background_pacman.png) no-repeat bottom fixed;
    background-size: cover;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    overflow: hidden;
  
}

/* OVERLAY */
#gameover-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 0;
    display: none;
    z-index: 25;
    justify-content: center;
    align-items: center;
}

#gameover-text {
    font-size: 40px;
}

.message {
    position: absolute;
    display: grid;
    height: 50vh;
    width: 50vw;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
}

.left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}


.text {
    font-size: 9vh;
}

.dolphin {
    height: 50vh;
}

#back-to-map img {
    height: 40%;
}

a {
    text-decoration: none;
}

#back-to-map {

    background-image: url(images/UI/button.png);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Concert One", sans-serif;
    font-size: 3vh;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 40vh;
    height: 15vh;
    margin-left: 20%;
}


/* CONTAINER*/

.container {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
   
}

/* SCORE BOARD */



.score-board {
    background-color: rgba(255, 255, 255, 0.349);
    border: 0.3vw solid rgb(255, 255, 255);
    width: 15vw;
    height: 60vh;
    border-radius: 30px;
    margin-top: 20%;
    margin-left: 40%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}


.time {
    font-size: 3vh;
    background-image: url(images/UI/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 10vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 3vh;
    background-image: url(images/UI/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 10vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-level {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    color: white;
    font-size: 3vw;
    font-family: inherit;
    font-weight: 400;
    font-style: inherit;
    background-image: url("images/UI/level.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    margin-top: -50%;
    width: 6vw;
    height: 6vw;
}

.btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.music {
    background-image: url(images/UI/button.png);
    background-size: 8vh 8vh;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 8vh;
    height: 8vh;
}

.map {
    background-image: url(images/UI/button.png);
    background-size: 8vh 8vh;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 8vh;
    height: 8vh;
}

.map img {
    height: 5vh;

}

.map,
.music,
#back-to-map {
    transition: transform 0.3s ease;
}

.map:hover,
.music:hover,
#back-to-map:hover {
    cursor: pointer;
    transform: scale(1.2)
}



/* GAME BOARD */
#game-container {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    width: 100%;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}



/* The overlay with this building's background */
#overlay {
    position: absolute;
    width: 68vw;
    height: 100vh;
    background-image: url(../image/UI/building_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    cursor: pointer;
    border-radius: 10px;
    top: 0;
}

#overlay-text {
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 8px black;
    padding: 15px 35px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
}



.bubbles img {
    width: 10vh;
    animation: bubble 15s linear infinite;
}

.bubbles img:hover {
    animation: none;
    filter: blur(150px);
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -9%;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    70% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-98vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1) {
    animation-delay: 0.5s;
    width: 30px;
}

.bubbles img:nth-child(2) {
    width: 28px;
}

.bubbles img:nth-child(3) {
    animation-delay: 8s;
    width: 36px;
}

.bubbles img:nth-child(4) {
    animation-delay: 8.2s;
    width: 27px;
}

.bubbles img:nth-child(5) {
    animation-delay: 2s;
    width: 20px;
}

.bubbles img:nth-child(6) {
    animation-delay: 4s;
    width: 30px;
}

.bubbles img:nth-child(7) {
    animation-delay: 5s;
    width: 35px;
}

.bubbles img:nth-child(8) {
    animation-delay: 1s;
    width: 29px;
}

.bubbles img:nth-child(9) {
    animation-delay: 7s;
    width: 40px;
}

.fish {
    margin-left: 0;
}

.fish img {
    margin-left: 0;
    position: absolute;
    height: 15vh;
    margin-top: 10vh;
    z-index: 0;
    animation: move 8s linear infinite;
}


@keyframes move {
    from {
        transform: translate(-70vw, 40vh);
    }

    to {
        transform: translate(100vh, -100vh);
    }
}


