
body {
    text-align: center;
    padding-top: 5rem;
    background-image: url("./img/big-background.png");
    background-size: cover;
}

#board {
     background-image: url("./img/background.png");
     background-size: contain;
     background-repeat: repeat;
     background-position: center;
 }