body {
    text-align: center;
    padding-top: 5rem;
    background-image: url("./assets/img/backdrop.png");
    background-size: cover;
    margin: 0;
}

.canvas-wrapper {
    display: inline-block;
    padding: 12px;

    border: 1px solid rgba(0,0,0,0.35);
    border-radius: 10px;

    background: rgba(255,255,255,0.85);

    box-shadow: 
        0 4px 12px rgba(0,0,0,0.25),
        0 0 0 4px rgba(255,255,255,0.7) inset;
}


#board {
    background-image: url("./assets/img/background.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    display: block;   /* removes unwanted inline spacing */
}
