body {
    text-align: center;
    overflow: hidden;
}

#board {
    background-color: black;
}

button 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background-color: #ffcc00;
    color: black;
    display: none;
    cursor: pointer;
}

