/* Set background and the size of the website */
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

body {
    margin: 0;
    padding: 0;
    height: 210vh;
    background: url(image/sea.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    overflow: hidden;
}


/*Divide the screen into 2 parts: map and chat*/
.container {
    height: 220vh;
    width: 100vw;
    display: flex;
}

.map {
    flex: 3;
}

.chat {
    flex: 1;
}

/* Move up and down animation */
@keyframes upDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-2vh);
    }
}


/* Map part */
.map {
    position: relative;
    z-index: 2;
}


.island {
    width: 90%;
    position: absolute;
    margin-top: -2%;
    margin-left: 7%;
    z-index: 1;
    animation: upDown 3.5s ease-in-out infinite alternate;
}



.level {
    position: absolute;
    width: 75vw;
    height: 75vw;
    left: 0;
    top: 0;
    animation: upDown 3.5s ease-in-out infinite alternate;
    z-index: 10;
}



.cloud_top {
    position: absolute;
    margin-left: -50%;
    margin-top: -40%;
    animation: drift 120s infinite;
    z-index: 0;
}


.cloud_bottom {
    position: absolute;
    margin-top: -5%;
    margin-left: -200%;
    animation: drift 150s infinite;
    animation-delay: 5s;
    z-index: 9;

}



.waterfall img {
    width: 210%;
    margin-top: -54.9%;
    margin-left: -59%;
    position: absolute;
    z-index: 4;
    animation: upDown 3.5s ease-in-out infinite alternate;
}

@keyframes drift {
    from {
        transform: translate(-100vw);
    }

    to {
        transform: translate(240vw);
    }
}

.button-unlocked {
    position: absolute;
    height: 0.4vw;
    width: 0.6vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.5vw;
}

.button-unlocked {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #28a20d;
    border: 0.2vw solid #ffffff;
    border-radius: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button-unlocked::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f8f9f8;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 0.18vw #ffffff, 0 0.1em 0 0 #ffffff;
    box-shadow: 0 0 0 0.18vw #ffffff, 0 0.1em 0 0 #ffffffff;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button-unlocked:hover {
    background: #9dee8a;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

.button-unlocked:hover::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.button-unlocked:active {
    background: #28a30c;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

.button-unlocked:active::before {
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}


/* When the button is locked */
.button-locked {
    pointer-events: none;
    position: absolute;
    height: 0.4vw;
    width: 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.5vw;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: gray;
    border: 0.2vw solid #ffffff;
    border-radius: 100%;
}


.story-locked {
    filter: grayscale(100%) brightness(0.75);
    cursor: wait;
}

.button-completed {
    position: absolute;
    height: 0.4vw;
    width: 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Alfa Slab One", serif;
    font-size: 0.5vw;
    font-weight: 600;
    text-transform: uppercase;

    padding: 1.25em 2em;
    border-radius: 100%;
    pointer-events: none;

    background: #7a7a7a;
    border: 0.2vw solid gold;
    color: #f5f5f5;

    transform-style: preserve-3d;
    opacity: 0.9;
}



.dolphin img {
    margin-top: 20%;
    position: fixed;
    width: 20vw;
    z-index: 100;
}



/* Dialog box */
.dialog-box {
    color: white;
    width: 12%;
    height: 5%;
    background: rgba(0, 0, 0, 0.7);
    border: 3% solid #fff;
    border-radius: 10px;
    padding: 5%;
    margin-top: 5%;
    position: fixed;
    z-index: 100;
}


/* Text */
.text {
    font-size: 80%;
    line-height: 1.5;
    min-height: 10%;
}

/* Next indicator */
.next {
    position: absolute;
    bottom: 5%;
    right: 5%;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}