/* Set background and the size of the website */
html {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    min-height: 210vh;
    background: url(image/sea.png) no-repeat center center;
    background-size: cover;
}

/*Divide the screen into 2 parts: map and chat*/
.container {
    height: 220vh;
    width: 100vw;
    display: flex;
}

.map {
    flex: 3;
}

.chat {
    flex: 1;
}

/* Move up and down animation */
@keyframes upDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-2vh);
    }
}


/* Map part */
.map {
    position: relative;
    z-index: 2;
}


.island {
    width: 120%;
    position: absolute;
    margin-top: 0;
    z-index: 1;
    animation: upDown 3.5s ease-in-out infinite alternate;
}



.level {
    position: absolute;
    width: 87vw;
    height: 100vw;
    left: 0;
    top: 0;
    animation: upDown 3.5s ease-in-out infinite alternate;
    z-index: 10;
}



.cloud_top {
    position: absolute;
    margin-left: -50%;
    margin-top: -40%;
    animation: drift 120s infinite;
    z-index: 0;
}


.cloud_bottom {
    position: absolute;
    margin-top: -5%;
    margin-left: -200%;
    animation: drift 150s infinite;
    animation-delay: 5s;
    z-index: 9;

}



.waterfall img {
    width: 235%;
    margin-top: -55.5%;
    margin-left: -63%;
    position: absolute;
    z-index: 4;
    animation: upDown 3.5s ease-in-out infinite alternate;
}

@keyframes drift {
    from {
        transform: translate(-100vw);
    }

    to {
        transform: translate(240vw);
    }
}


.button-unlocked {
    position: absolute;
    height: 0.5vw;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 1vw;
    box-shadow:
        0 0 12px white,
        0 0 40px white;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.75em;
    background: #28a20d;
    border: 0.2vw solid #ffffff;
    border-radius: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 170ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button-unlocked::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f8f9f8;
    border-radius: inherit;
    box-shadow: 0 0 0 0.15vw #ffffff, 0 0.2em 0 0 #ffffffff;
    -webkit-transform: translate3d(0, 1em, -1.75em);
    transform: translate3d(0, 0.8em, -1.1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button-unlocked:hover {
    background: #9dee8a;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

.button-unlocked:hover::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.button-unlocked:active {
    background: #28a30c;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

.button-unlocked:active::before {
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}


/* When the button is locked */
.button-locked {
    pointer-events: none;
    position: absolute;
    height: 0.5vw;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 1vw;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.75em;
    background: gray;
    border: 0.2vw solid #ffffff;
    border-radius: 100%;
}


.story-locked {
    pointer-events: none;
    cursor: wait;
}


.button-completed {
    font-size: 1vw;
    height: 0.5vw;
    width: 1vw;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Alfa Slab One", serif;

    text-transform: uppercase;

    padding: 1em 1.75em;
    border-radius: 100%;
    pointer-events: none;

    background: #9dee8a;
    border: 0.2vw solid white;
    color: #f5f5f5;

    transform-style: preserve-3d;
    opacity: 0.9;
}



.dolphin img {
    margin-top: 20%;
    position: fixed;
    width: 20vw;
    z-index: 100;
}

#your_avatar {
    position: absolute;
    height: 4%;
    margin-left: 62%;
    margin-top: 9%;
    transition:
        margin-left 2s ease-in-out,
        margin-top 2s ease-in-out;

    background: url(../image/bubble.png) center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;

}

#your_avatar:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 12px rgb(0, 229, 255));
}

/* Dialog box */
.dialog-box {
    color: white;
    width: 20%;
    height: 5%;
    background: rgba(0, 0, 0, 0.7);
    font-family: "Concert One", sans-serif !important;
    /* border: 3% solid #fff; */
    border-radius: 10px;
    padding: 5% 2%;
    margin-top: 5%;
    position: fixed;
    z-index: 100;
}


/* Text */
.text {
    width: 100%;
    margin-top: -5vh;
    font-size: 120%;
    line-height: 1.5;
    min-height: 10%;
}

/* Next indicator */
.next {
    position: absolute;
    bottom: 5%;
    right: 5%;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



/* === LEADERBOARD PANEL === */
.overlay {
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at top, rgba(80, 80, 140, 0.25), rgba(0, 0, 0, 0.75)),
        rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
    font-family: "Concert One", sans-serif !important;
}

.hidden {
    display: none;
}

h2 {
    margin-bottom: 7vh;
    font-size: 33px;
    text-align: center;
     filter:
        drop-shadow(0 0 6px gold) drop-shadow(0 0 12px rgba(255, 215, 0, 0.8));
}

.leaderboard-panel {
    width: 60%;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    background: url(../image/background.png) center top no-repeat;
    border-radius: 22px;
    padding: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.leaderboard-panel::-webkit-scrollbar {
    width: 10px;
}

.leaderboard-panel::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    margin: 15px 10px;
}


.leaderboard-panel::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #84bbff, #2563eb);
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.leaderboard-panel::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #cee0f4, #6e9ff4);
}

/* ===== TOP 3 ROW ===== */
.rank-1 {
    transform: scale(1.15);
    width: 22%;
}

.rank-2 {
    transform: scale(1);
   
}

.rank-3 {
    transform: scale(1);
}


.top-avatar {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin: 10px auto;
}


.top-score {
    font-size: 1.25rem;
    margin-top: 6px;
    color: white;
    filter: drop-shadow(0 0 6px gold) drop-shadow(0 0 12px rgba(255, 215, 0, 0.8));
}

.leaderboard-top3 {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 8%;
}


.top-card {
    width: 20%;
    height: 20%;
    padding: 3%;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(180deg, #e3e6e909, #d9dadcb5);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
    transform: translateY(0);
}


.top-name {
    font-weight: 700;
    font-size: 28px;
}

.rank-1 {
    transform: scale(1.15);
    width: 22%;
}

.rank-2 {
    transform: scale(1);
   
}

.rank-3 {
    transform: scale(1);
}


.top-avatar {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin: 10px auto;
}





/* ROW */
.leaderboard-row {
    display: grid;
    grid-template-columns: 36px 42px 1fr auto;
    align-items: center;
    gap: 12px;
    padding: 30px 20px;
    margin-bottom: 10px;

    background: linear-gradient(180deg, #e3e6e93e, #d9dadcb5);

    border-radius: 16px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

.top-medal {
    font-size: 200%;
    margin-bottom: 8%;
}



.rank-number {
    font-size: 28px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}


/* AVATAR */
.avatar {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
    background: url(../image/bubble.png) center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    padding: 2vh 2vh;
}

.name {
    margin-left: 3vw;
    font-size: 25px;
    font-weight: 900;
    color: white;
}


.score {
    font-size: 25px;
    font-weight: 900;
    color: #ffffff;
}



.avatar-wrapper {
    position: relative;
    display: inline-block;
}

.crown {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%) rotate(-8deg);
    font-size: 28px;
    z-index: 2;
    filter:
        drop-shadow(0 0 6px gold) drop-shadow(0 0 12px rgba(255, 215, 0, 0.8));
    animation: crown-float 2.5s ease-in-out infinite;
}

@keyframes crown-float {
    0%,
    100% {
        transform: translateX(-50%) translateY(0) rotate(2deg);
    }

    50% {
        transform: translateX(-50%) translateY(-4px) rotate(-14deg);
    }
}