:root {
  --card: rgba(255, 255, 255, 0.15);
  --stroke: rgba(255, 255, 255, 0.4);
  --accent: #00e5ff;
}

body {
  margin: 0;
  font-family: "Concert One", sans-serif;
  color: white;
}

.app {
  background: url(../image/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

/* MAIN PANEL */
.panel {
  width: min(1100px, 95vw);
  background: var(--card);
  border: 2px solid var(--stroke);
  border-radius: 26px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  padding: 2%;
}

h1 {
  text-align: center;
  margin: 0 0 20px;
}

/* MAIN LAYOUT */
.content {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 30px;
}

/* LEFT SIDE */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

/* BIG AVATAR */
.big-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background: url(../image/bubble.png) center center no-repeat;
  background-size: contain;
  overflow: hidden;
  animation: move 5s ease-in-out infinite;
  padding: 5%;
  filter: drop-shadow(0 0 12px rgb(0, 229, 255));
}



@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2vh);
  }

  100% {
    transform: translateY(0);
  }
}


.big-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NAME INPUT */
.left input {
  font-family: "Concert One", sans-serif;
  width: 100%;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid var(--stroke);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  text-align: center;
}

/* FINISH BUTTON */
.left button {
  font-family: "Concert One", sans-serif;
  width: 100%;
  padding: 14px;
  border: none;
  background: url(../image/UI/button.png) center center no-repeat;
  background-size: contain;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

}

.left button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* RIGHT SIDE */
.right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

/* SMALL AVATARS */
.avatar {
  background: url(../image/bubble.png) center center no-repeat;
  background-size: contain;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}

.avatar:hover {
  transform: translateY(-2px);
}

.avatar.selected {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px rgb(0, 229, 255));

}

.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}